$def with(status_statistics, team_statistics, jira_task_priority_stat, git_merge_status_stat, jenkins_status_stat, succ_merge_succ_build, succ_merge_fail_build, succ_merge_no_build, fail_merge, no_merge, jira_priority_map)
<html>
<head>
    <title>Git branch status</title>
    <link rel="stylesheet" type="text/css" href="/static/smoothtaste.css"/>
    <link rel="stylesheet" type="text/css" href="/static/main.css"/>
</head>

<body>

<table>
    <tr>
        <td><a>Статусы:</a><br/>
            $for stat in status_statistics:
            &nbsp;&nbsp;<a href="/$stat['jira_task_status']">$stat['jira_task_status']:&nbsp;</a><a>$stat['count(*)']</a><br/>
        </td>
        <br/>


        <td><a>Приоритеты:</a><br/>
            $for stat in jira_task_priority_stat:
            &nbsp;&nbsp;<a href="/$stat['jira_task_priority']">$stat['jira_task_priority']:&nbsp;</a><a>$stat['count(*)']</a><br/>
        </td>
        <br/>

        <td><a>Git:</a><br/>
            $for stat in git_merge_status_stat:
            &nbsp;&nbsp;<a href="/$stat['git_merge_status']">$stat['git_merge_status']:&nbsp;</a><a>$stat['count(*)']</a><br/>
        </td>
        <br/>

        <td><a>Jenkins:</a><br/>
            $for stat in jenkins_status_stat:
            &nbsp;&nbsp;<a href="/$stat['jenkins_status']">$stat['jenkins_status']:&nbsp;</a><a>$stat['count(*)']</a><br/>
        </td>
        <br/>

        <td><a>Команды:</a><br/>
            $for (team,count) in team_statistics:
            &nbsp;&nbsp;<a href="/$team">$team:&nbsp;</a><a>$count</a>
        </td>
        <br/>
    </tr>
</table>


<br/>


<a>Смерджились и собрались: $len(succ_merge_succ_build)</a>
<table>
    $for branch in succ_merge_succ_build:
    <tr>
        <td><a href="http://jira.hh.ru/browse/$branch['jira_task_id']">$branch['branch']</a></td>
        <td>
            <img src="$jira_priority_map[branch['jira_task_priority'] + '_icon']" alt="$branch['jira_task_priority']"
                 title="$branch['jira_task_priority']" width="16" align="absmiddle" border="0" height="16">
        </td>
        <td>$branch['jira_task_summary']</td>
    </tr>
</table>
<br/>

<a>Смерджились и не собрались: $len(succ_merge_fail_build)</a>
<table>
    $for branch in succ_merge_fail_build:
    <tr>
        <td><a href="http://jira.hh.ru/browse/$branch['jira_task_id']">$branch['branch']</a></td>
        <td>
            <img src="$jira_priority_map[branch['jira_task_priority'] + '_icon']" alt="$branch['jira_task_priority']"
                 title="$branch['jira_task_priority']" width="16" align="absmiddle" border="0" height="16">
        </td>
        <td>$branch['jira_task_summary']</td>
    </tr>
</table>
<br/>


<a>Не смерджились: $len(fail_merge)</a>
<table>
    $for branch in fail_merge:
    <tr>
        <!--<td><input type="checkbox"/></td>-->
        <td><a href="http://jira.hh.ru/browse/$branch['jira_task_id']">$branch['branch']</a></td>
        <td>
            <img src="$jira_priority_map[branch['jira_task_priority'] + '_icon']" alt="$branch['jira_task_priority']"
                 title="$branch['jira_task_priority']" width="16" align="absmiddle" border="0" height="16">
        </td>
        <td>$branch['jira_task_summary']</td>
    </tr>
</table>
<br/>


<a>Смерджились, еще не собирались: $len(succ_merge_no_build) </a>
<table>
    $for branch in succ_merge_no_build:
    <tr>
        <td><a href="http://jira.hh.ru/browse/$branch['jira_task_id']">$branch['branch']</a></td>
        <td>
            <img src="$jira_priority_map[branch['jira_task_priority'] + '_icon']" alt="$branch['jira_task_priority']"
                 title="$branch['jira_task_priority']" width="16" align="absmiddle" border="0" height="16">
        </td>
        <td>$branch['jira_task_summary']</td>
    </tr>
</table>
<br/>

<a>Еще не мерджились: $len(no_merge)</a>
<table>
    $for branch in no_merge:
    <tr>
        <td><a href="http://jira.hh.ru/browse/$branch['jira_task_id']">$branch['branch']</a></td>
        <td>
            <img src="$jira_priority_map[branch['jira_task_priority'] + '_icon']" alt="$branch['jira_task_priority']"
                 title="$branch['jira_task_priority']" width="16" align="absmiddle" border="0" height="16">
        </td>
        <td>$branch['jira_task_summary']</td>
    </tr>
</table>
<br/>


</body>
</html>
