$def with(succ_merge_succ_build, succ_merge_fail_build, succ_merge_no_build, fail_merge, no_merge, jira_priority_map)
<html>
<head>
    <title>Git branch status</title>
    <link rel="stylesheet" type="text/css" href="/static/smoothtaste.css"/>
    <link rel="stylesheet" type="text/css" href="/static/main.css"/>
</head>
<br/>
<br/>



<body>
<a>Мерджится с мастером и собирается: $len(succ_merge_succ_build)</a>
<table>
    $for branch in succ_merge_succ_build:
    <tr>
        <td><a href="http://jira.hh.ru/browse/$branch['jira_task_id']">$branch['branch']</a></td>
        <!--<td>$branch['git_merge_status']</td>-->
        <!--<td>$branch['git_branch_head'][:7]</td>-->
        <!--<td>$branch['git_remote_branch_head'][:7]</td>-->
        <!--<td>$branch['jenkins_branch_head'][:7]</td>-->
        <!--<td>$branch['jenkins_status']</td>-->
        <td>
            <img src="$jira_priority_map[branch['jira_task_priority'] + '_icon']" alt="$branch['jira_task_priority']" title="$branch['jira_task_priority']" width="16" align="absmiddle" border="0" height="16">
        </td>
        <td>$branch['jira_task_summary']</td>
        <!--<td>$branch['jira_task_status']</td>-->
        <!--<td>$branch['jira_task_resolution']</td>-->
    </tr>
</table>
<br/>

<a>Мерджится с мастером и не собирается: $len(succ_merge_fail_build)</a>
<table>
    $for branch in succ_merge_fail_build:
    <tr>
        <td><a href="http://jira.hh.ru/browse/$branch['jira_task_id']">$branch['branch']</a></td>
        <!--<td>$branch['git_merge_status']</td>-->
        <!--<td>$branch['git_branch_head'][:7]</td>-->
        <!--<td>$branch['git_remote_branch_head'][:7]</td>-->
        <!--<td>$branch['jenkins_branch_head'][:7]</td>-->
        <!--<td>$branch['jenkins_status']</td>-->
        <td>
            <img src="$jira_priority_map[branch['jira_task_priority'] + '_icon']" alt="$branch['jira_task_priority']" title="$branch['jira_task_priority']" width="16" align="absmiddle" border="0" height="16">
        </td>
        <td>$branch['jira_task_summary']</td>
        <!--<td>$branch['jira_task_status']</td>-->
        <!--<td>$branch['jira_task_resolution']</td>-->
    </tr>
</table>
<br/>


<a>Не мерджится с мастером: $len(fail_merge)</a>
<table>
    $for branch in fail_merge:
    <tr>
        <td><a href="http://jira.hh.ru/browse/$branch['jira_task_id']">$branch['branch']</a></td>
        <!--<td>$branch['git_merge_status']</td>-->
        <!--<td>$branch['git_branch_head'][:7]</td>-->
        <!--<td>$branch['git_remote_branch_head'][:7]</td>-->
        <td>
            <img src="$jira_priority_map[branch['jira_task_priority'] + '_icon']" alt="$branch['jira_task_priority']" title="$branch['jira_task_priority']" width="16" align="absmiddle" border="0" height="16">
        </td>
        <td>$branch['jira_task_summary']</td>
        <!--<td>$branch['jira_task_status']</td>-->
        <!--<td>$branch['jira_task_resolution']</td>-->
    </tr>
</table>
<br/>


<a>Мерджится с мастером, еще не собиралось: $len(succ_merge_no_build) </a>
<table>
    $for branch in succ_merge_no_build:
    <tr>
        <td><a href="http://jira.hh.ru/browse/$branch['jira_task_id']">$branch['branch']</a></td>
        <!--<td>$branch['git_merge_status']</td>-->
        <!--<td>$branch['git_branch_head'][:7]</td>-->
        <!--<td>$branch['git_remote_branch_head'][:7]</td>-->
        <td>
            <img src="$jira_priority_map[branch['jira_task_priority'] + '_icon']" alt="$branch['jira_task_priority']" title="$branch['jira_task_priority']" width="16" align="absmiddle" border="0" height="16">
        </td>
        <td>$branch['jira_task_summary']</td>
        <!--<td>$branch['jira_task_status']</td>-->
        <!--<td>$branch['jira_task_resolution']</td>-->
    </tr>
</table>
<br/>

<a>Еще не мерджилось: $len(no_merge)</a>
<table>
    $for branch in no_merge:
    <tr>
        <td><a href="http://jira.hh.ru/browse/$branch['jira_task_id']">$branch['branch']</a></td>
        <!--<td>$branch['git_remote_branch_head'][:7]</td>-->
        <td>
            <img src="$jira_priority_map[branch['jira_task_priority'] + '_icon']" alt="$branch['jira_task_priority']" title="$branch['jira_task_priority']" width="16" align="absmiddle" border="0" height="16">
        </td>
        <td>$branch['jira_task_summary']</td>
        <!--<td>$branch['jira_task_status']</td>-->
        <!--<td>$branch['jira_task_resolution']</td>-->
    </tr>
</table>
<br/>


</body>
</html>
